
*{
    padding: 0;
    margin: 0;
    color: white;
 }
.contantbox{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px  solid black;
 
 }
 
 #navbar{
    height: 60px;
    background-color: black;
 }
 button{
    background-color: yellow;
 }
 #logo{
    color: yellow;
    font-size: 25px;
 }
 a{
    justify-content: space-evenly;
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
 }
 #content{
 height: 500px;
 }
 