.loder{

    height: 200px;
    width: 300px;
    border-radius: 50%;
    border: 10px  solid   black;
    border-top: 20px solid  aqua;
    animation: spinanimation 3s ease-in 0s infinite normal ;
}


@keyframes spinanimation {
    from {
          transform: rotate(0deg);
         }

          to {

             transform: rotate(360deg );
            }
        }

    h1
      {
 color: blue;
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    } 

