#box{
   background-color:blue;

}
.heading{
   color: red;
}
button{
   background-color: green;
}
h1{
   text-align: left;
   text-decoration:  blue wavy underline;
   font-weight: lighter;   /*is value ki range (100  to  900)
   /* start=left           end =right   bi use kar sktay  ha  */ 
  font-family: 'Courier New', Courier, monospace;/* fall back machnisam mutlab 1 language available nhi ha browser par to dosri use kar ly*/ 
   text-transform: capitalize; /*may be uppercase,lowercase,none*/
}
a{
   text-decoration: none;  /*overline,underlie,line through bi kar sktay ha MDN website for this */
}
#h1{
   text-align: center;
   text-transform: capitalize;
}
*{
   font-family:'Times New Roman', Times, serif ;
}
#outer{
font-size: 25px;
margin: 10px;
padding: 20px;
}
#inner{
font-size:20px;
margin: 10px;
padding: 20px;
}
h2{
   /*border-style: dashed;*/
   border-color: aqua;
   height: 100px;
   width: 50px;
   border-width: 10px;
   border: 4px,dashed,pink;
}
/*  style  for  different  div */
/*div{
   height: 100px;
   width: 100px;
   border: 2px solid blue;
   border-radius: 20px;
   background-color: green;
   padding: 10px;
   margin-top: 25px;
}

div{
   display: block;
   background-color: pink;
}
div{
   height: 100px;
   width: 100px;
   margin: 25px;
   padding: 25px;
   display: inline-block;
}*/
h3{
   text-align: center;
   color: aqua;
   text-decoration:  blue wavy underline;
}

h4{
   text-align: center;
   color: chartreuse;
   text-decoration:  blue wavy underline;
}

/* style  for  responsive  website */
div{
   height: 200px;
    width: 150px;
    background-color: pink;

}

@media ( width : 600) {
 div {

   background-color: red;
}}

@media(  min-width:  600px ){
  div {
      background-color: green;

  }

}

@media(min-width : 200px) and (max-width:300px){

   div{
         background-color: aqua;

   }
}